<div class="container-fluid">
	<div class="row text-center">
		<div class="col-sm-6 col-md-4 col-md-offset-4 text-center" style="margin-top: 30px;">
			<div class="signup-container-wall">
				<div class="wrapper text-center">
			      <img src="img/bird.png" class="" width="50%" height="40%" />
			    </div>
				<!-- <h5>Create account</h5> -->
				<div style="margin-top: 0px">
					<form name="form" class="form-validation">
					    <div class="input-group mg-t-sm">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" ng-model="user.fname" id="name" maxlength="20"  placeholder="First Name" required />
						</div>
						<div class="input-group mg-t-sm">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" ng-model="user.lname" id="name" maxlength="20" placeholder="Last Name"/>
						</div>
						<div class="input-group mg-t-sm">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="email" class="form-control" ng-model="user.email" id="email" maxlength="30" placeholder="Enter your Email" required />
						</div>
						<div class="input-group mg-t-sm">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" ng-model="user.password" id="password" maxlength="20" placeholder="Enter your Password" required />
						</div>
						<div class="input-group mg-t-sm">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" ng-model="user.confirm_password" id="confirm" maxlength="20" placeholder="Confirm your Password" required />
						</div>
						<button type="submit" class="btn btn-info" ng-click="doSignup()" ng-disabled='form.$invalid' style="margin-top: 20px;margin-bottom: 10px">Create your account</button>
					    <div>
						    <p class="form-group">By creating an account, you agree to our <a >Terms of Use</a> and our <a >Privacy Policy</a>.</p>
						    <hr>
							<p>Already have an account? <a  ui-sref="access.signin" class="signin text-center">Sign in</a></p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>